*{
    text-decoration: none;
}
fieldset{
    padding: 40px 80px;
}
div h2{
    color: #ff7300;
}
.campo-1{
    position: fixed;
    top: 150px;
    left: 3%;
}
.campo-2{
    position: fixed;
    top: 150px;
    left: 30%;
    border-radius: 6px;
}
.campo-3{
    position: fixed;
    top: 370px;
    left: 3%;
}
.campo-4{
    position: fixed;
    top: 370px;
    left: 30%;
}
/* caixa menu*/
.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    top: -200px;
    position: relative;
    left: 510%;
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #ff7300; /* Add a green color to the "active/current" link */
    color: white;
  }
  #inputType,#resultType{
	width: 164.66px;
	margin-left: 25px;
	color: rgb(0, 255, 136);
	border: 1px solid black;
    padding: 1ch;
	cursor: pointer;
	border-radius: 6px;
    }